 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #051926;
        color: beige;
        font-family: Arial, sans-serif;
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 20px auto;
        padding: 0 20px;
    }

    header {
        width: 100%;
        padding: 20px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #081e2e;
    }

    header h1 {
        font-size: 24px;
        color: white;
    }

    main {
        margin-top: 60px;

    }

    .paragraph_description p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .information-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        color: black;
    }

    .each-methood {
        background-color: #deeaf1d3;
        padding: 20px;
    }

    .url_info {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .url_info h2 {
        margin-right: 30px;
        font-size: 15px;
    }

    .url_info a {
        color: rgb(2, 2, 22);
        text-decoration: underline;
        font-size: 15px;
    }

    .arrow {
        width: 10px;
        height: 10px;
        border: solid rgb(2, 1, 20);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 1px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .each-methood p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #081e2e;
        height: 100px;
    }

    footer span {
        font-size: 12px;
        color: white;
    }
    .main_url{
        width: 150px;
    }


    @media screen and (max-width: 768px) {
    .information-section {
            grid-template-columns: 1fr;
    }

        .each-methood {
            padding: 15px;
        }

        .url_info h2 {
            font-size: 14px;
            margin-right: 5px;
        }

        .url_info a {
            font-size: 8px;
        }

        .each-methood p {
            font-size: 16px;
            margin-bottom: 15px;
        }
    }

    @media screen and (max-width: 480px) {
        header h1 {
            font-size: 20px;
        }

        .paragraph_description p {
            font-size: 16px;
        }
        .url_info{
            display: flex;


        }

        .url_info h2 {
            font-size: 13px;
            margin-right: 3px;
        }

        .url_info a {
            font-size: 13px;
        }

        .each-methood p {
            font-size: 15px;
            margin-bottom: 15px;
        }

        .main_url{

            max-width: 150px;
            font-size: 18px;
        }

        footer  {
            max-width: 480px;
            width: 100%;
            font-size: 10px;
            display: flex;
            justify-content: center;
        }
        .main_url a{
            margin-left: 5px;
        }

    }