<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Contact Manager API</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <h1>Contact Manager Flask API</h1>
            </nav>
        </header>

        <main>
            <section>
                <div class="paragraph_description">
                    <p>This is a sample Flask application that serves as a web service, allowing you to
                        perform CRUD operations
                         (Create, Read, Update, Delete) using various HTTP methods.
                         The available methods are POST, GET, PUT, and DELETE.
                         <br>
                         <br>

                         With this web service, you can send POST requests
                        to create new information, GET requests to retrieve existing
                        information, PUT requests to update information, and DELETE requests
                        to remove information.


                    </p>
                </div>
            </section>

            <section class="information-section">
                <div class="each-methood">
                    <div class="url_info">
                        <h2>POST</h2>
                        <h2><i class="arrow right"></i><i class="arrow right"></i></h2>
                        <h2 class="main_url"> URL:  <a target="_blank" href="https://nikaalaverdashvili.pythonanywhere.com/main">https://nikaalaverdashvili.<br>pythonanywhere.com/main</a></h2>
                    </div>
                    <p>1. POST: This method is used to create new information. When you send a POST
                        request, the application will process the input data and create a new record with that information.
                    </p>
                </div>
                <div class="each-methood">
                    <div class="url_info">
                        <h2>GET</h2>
                        <h2><i class="arrow right"></i><i class="arrow right"></i></h2>
                        <h2 class="main_url"> URL:  <a target="_blank" href="https://nikaalaverdashvili.pythonanywhere.com/main">https://nikaalaverdashvili.<br>pythonanywhere.com/main</a></h2>
                    </div>
                    <p>
                        2. GET: This method is used to get the existing information. When you send a GET request, the application will return the requested data. You can use GET requests to read specific records or get a list of all available records.
                    </p>
                </div>
                <div class="each-methood">
                    <div class="url_info">
                        <h2>PUT</h2>
                        <h2><i class="arrow right"></i><i class="arrow right"></i></h2>
                        <h2 class="main_url"> URL:  <a target="_blank" href="https://nikaalaverdashvili.pythonanywhere.com/main">https://nikaalaverdashvili.<br>pythonanywhere.com/main</a></h2>
                    </div>
                    <p>
                        3. PUT: This method is used to update the existing information. When you send a PUT request, the application updates the specified record with the new information provided in the request.
                    </p>
                </div>
                <div class="each-methood">
                    <div class="url_info">
                        <h2>DELETE</h2>
                        <h2><i class="arrow right"></i><i class="arrow right"></i></h2>
                        <h2 class="main_url"> URL:  <a target="_blank" href="https://nikaalaverdashvili.pythonanywhere.com/main">https://nikaalaverdashvili.<br>pythonanywhere.com/main</a></h2>
                    </div>
                    <p>4. DELETE: This method is used to remove information. When you send a DELETE request, the application will delete the specified record.
                    </p>
                </div>
            </section>
        </main>
        <footer>
            <span>© 2023 Standards. All rights reserved. | Contact: [nikoloz.alaverdashvili.1@btu.edu.ge]</span>
        </footer>
    </div>
</body>
</html>